<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    {% for persona in personas %}

    <h1>El nombre de la persona es {{familia_desafio.nombre}}</h1>
    <h1>El apellido de la persona es {{familia_desafio.apellido}}</h1>
    <h1>El dni de la persona es {{familia_desafio.dni}}</h1>
    <h1>La persona habita en la casa? {{familia_desafio.habita_en_casa}}</h1>
    <h1>La edad de la persona es {{familia_desafio.edad}}</h1>

    {% endfor %}
  </body>
</html>
